/*******FONTS*******************/
@font-face{
   font-family: "fg-demi-cond";
   font-style: normal;
   font-weight: normal;
   src: url(../font/fg-demi-cond.TTF);
}
@font-face{
   font-family: "fg-book";
   font-style: normal;
   font-weight: normal;
   src: url(../font/f-book.TTF);
}
@font-face{
   font-family: "fg-mediun-cond";
   font-style: normal;
   font-weight: normal;
   src: url(../font/fg-mediun-cond.TTF);
}
@font-face{
   font-family: "fg-heavy";
   font-style: normal;
   font-weight: normal;
   src: url(../font/fg-heavy.TTF);
}
@font-face{
   font-family: "fg-italic";
   font-style: normal;
   font-weight: normal;
   src: url(../font/f-book-italic.TTF);
}

/**MENU**/
body{
  color: #FFF;
}
.custom {
  background-color: #4eb71c !important; /* This sets the background color*/

 }
 
/*Set the background to transparent for ion-item*/
.custom .item {
background-color: transparent;
font-size: 14px;
border:none;   /*Removes all borders*/
margin-left: 20px;
margin-right:20px; 
border-bottom-style: dotted; 
border-bottom-width: 1px; 
border-color: 660033; 
}
 

.custom .activo{
background-color:#E53935;
color:#FFFFFF;
font-size: 14px;
border-bottom: 0;
margin:0;
padding-left:20px;
height: 53px;
width: 100%;
}

/*Changes the border for the last item*/
.custom .item:last-child {
  border-bottom: 0px;
}
 
.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}
 

.custom .menu-green h3,
.custom .menu-green a {
  color: white;  /*Text color for each item, overrides the color property above*/
}

.custom .menu-green h2{
	font-size: 14px;
	color:red;
}

.content-menu{
background-color: #4eb71c;
z-index: 2;
-webkit-box-shadow: inset -4px 0px 2px 0px rgba(0,0,0,0.70);
-moz-box-shadow: inset -4px 0px 2px 0px rgba(0,0,0,0.70);
box-shadow: inset -4px 0px 2px 0px rgba(0,0,0,0.70);
}

.menu-white{
	height: relative;
	background-color: #FFFFFF;
	border-bottom-left-radius: 20px; 
    -webkit-box-shadow: inset -4px 0px 2px 0px rgba(0,0,0,0.70);
    -moz-box-shadow: inset -4px 0px 2px 0px rgba(0,0,0,0.70);
    box-shadow: inset -4px 0px 2px 0px rgba(0,0,0,0.70);
    color: #000;
}

.menu-green{
	height: relative;
	border-bottom-left-radius: 20px; 
}


.bar.bar-positive{
	 background: rgba(255,119,1,1);
    color: #fff;
}




 /***********fin del menu´*******/

 .bg{
background-color: #2A3B39;
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
height: 100%;
width: relative;
background-image:url('../img/bg.jpg');
color:#FFF;
text-align: center;
z-index: 1;
 }


/**************************PERFIL****************************/

.content-profile{
    padding-top:15px;
    text-align: center;
}
.separador{
    margin-top:10px;
    margin-bottom: 10px;
    width: 30%;
    height: 1px;
    background-color: #FFFFFF;
    margin-left: 35%;
}
.ranking{
    position:absolute;
    margin-top: -20px;
    font-size: 12px;
    margin-left: 22px;
    display: inline-block;
}
.circle {
  border-radius: 50%; 
}
img.responsive-img, video.responsive-video {
  max-width: 100%;
  height:100%; 
}
.content-circle{
background-color: rgba(0,0,0,0.2); 
max-width: 100%;
height: 100%;  
padding:23px; 
}
.img-perfil{
    border: 3px solid #e53935;
}
.ranking-num{
    width: 40px;
    height: 40px;
    background-color:#70cf71;
    display: inline-block;
    position: absolute;
    margin-top: -28px;
    margin-left: -20px;
    font-size: 16px;
    padding-top: 10px;

}
.ranking-num-list{
    width: 32px;
    height: 32px;
    background-color:#70cf71;
    font-size: 16px;
    padding-top: 6px;
}
.num-list{
       color:#FCDD68;
}
.name{
    margin-top: 10px;
    font-size: 16px;
    color:#FFFFFF;
    font-family: 'fg-mediun-cond';
}
.box-transparent{
    margin-top: 10px;
    background-color: rgba(0,0,0,0.2); 
    width: 70%;
    font-size: 12px;
    text-align: center;
    display: inline-block;
}
.num-big{
   color:#e53935;
   font-size: 36px; 
   font-family: "fg-heavy";
  padding: 8px 0px 8px  0px;
}
.enorme{
   font-size: 60px; 

   text-shadow: 0 1px 0 #ae1400,
 0 2px 0 #ae1400,
 0 3px 0 #ae1400,
 0 4px 0 #ae1400,
 0 5px 0 #ae1400
}
/* 0 6px 1px rgba(0,0,0,.1),
 0 0 5px rgba(0,0,0,.1),
 0 1px 3px rgba(0,0,0,.3),
 0 3px 5px rgba(0,0,0,.2),
 0 5px 10px rgba(0,0,0,.25),
 0 10px 10px rgba(0,0,0,.2),
 0 20px 20px rgba(0,0,0,.15);
 */
 .bg-btn-red{
  color: #FFF;
 background-color: #e53935;
      box-shadow: 0 1px 0 #ae1400,
 0 2px 0 #ae1400,
 0 3px 0 #ae1400,
 0 4px 0 #ae1400,
 0 5px 0 #ae1400,
0px 15px 8px -5px rgba(0,0,0,0.41);
 }

 .bg-btn-blue{
   color: #FFF;
 background-color: #4C67A1;
  box-shadow: 0 1px 0 #2c406c,
 0 2px 0 #2c406c,
 0 3px 0 #2c406c,
 0 4px 0 #2c406c,
 0 5px 0 #2c406c,
0px 15px 8px -5px rgba(0,0,0,0.41);

 }
 .btn{
    height: 50px;
    width: 70%;
    border:0;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
     font-family: "fg-demi-cond";
  
}


.btn-reset{
  background-color: transparent;
  border: none;
}
.btn-reset-active{
  border-bottom: 4px solid #e53935;
}
h2{
    color:#FCDD68;
}
h3{
  margin: 0;
  padding: 0;
  color:#FCDD68;
}
h4{
  margin: 0;
  padding: 0;
  color:#FCDD68;
  font-family: 'fg-book';
  font-size: 16px;
  font-weight: 900;
  margin-top:10px;
  margin-bottom: 5px; 
}




.box-text{
  color:#FFFFF;
  border:0;
  background-color: rgba(0,0,0,0.3); 
  color:#FFFFFF;
  font-family: "fg-book";
  width: 100%;
  margin-bottom:5px;
  padding: 8px;
  height:46px;
  font-size: 14px;
  border-radius: 3px;
-webkit-box-shadow: inset 0px 4px 2px -2px rgba(0,0,0,0.79);
-moz-box-shadow: inset 0px 4px 2px -2px rgba(0,0,0,0.79);
box-shadow: inset 0px 4px 2px -2px rgba(0,0,0,0.79);
}

.box-text:focus{
border:1px solid #64DD17;
}

input:focus, input:hover{border:none;outline: 0;}

inp input[type="text"] {
  -webkit-appearance: none;
   background-color: transparent;
   color:#FFF;
}

p{
  font-family: "fg-mediun-cond";
  font-size:16px;
}

p span{
  color:#67ff07;
}

.degrade-birrias{
  text-align: center;
 background: rgba(255,119,1,1);
background: -moz-linear-gradient(-45deg, rgba(255,119,1,1) 0%, rgba(255,119,1,1) 25%, rgba(226,65,70,1) 100%) !important;
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,119,1,1)), color-stop(25%, rgba(255,119,1,1)), color-stop(100%, rgba(226,65,70,1)))!important;
background: -webkit-linear-gradient(-45deg, rgba(255,119,1,1) 0%, rgba(255,119,1,1) 25%, rgba(226,65,70,1) 100%)!important;
background: -o-linear-gradient(-45deg, rgba(255,119,1,1) 0%, rgba(255,119,1,1) 25%, rgba(226,65,70,1) 100%)!important;
background: -ms-linear-gradient(-45deg, rgba(255,119,1,1) 0%, rgba(255,119,1,1) 25%, rgba(226,65,70,1) 100%)!important;
background: linear-gradient(135deg, rgba(255,119,1,1) 0%, rgba(255,119,1,1) 25%, rgba(226,65,70,1) 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7701', endColorstr='#e24146', GradientType=1 )!important;
}

.input-label{
  text-align: left;
  color:#FFF;
    font-family: "fg-demi-cond";
}

a{
  color:#67ff07;
  text-decoration: underline;
}
.tabs-striped.tabs-positive .tabs {
  margin-top: -45px;
   background-color:#e53935;border:0; box-shadow: 0 1px 0 #ae1400,
 0 2px 0 #ae1400,
 0 3px 0 #ae1400,
 0 4px 0 #ae1400,
 0 5px 0 #ae1400,
0px 15px 8px -5px rgba(0,0,0,0.41) 
}



.btn-secundario{
    background-color: #FCDD68;
    color:#304041;
    border-radius: 1px;
    padding: 5px;
    font-family: 'fg-book';
  }
  .btn-terciario{
    margin-top:10px;
    background-color: #e53935;
    color:#FFFFFF;
    border-radius: 3px;
    padding: 10px;
    font-family: 'fg-book';
  }
  .btn-danger{
    margin-top:10px;
    background-color: #ef6c00;
    color:#FFFFFF;
    border-radius: 3px;
    padding: 10px;
    font-family: 'fg-book';
  }